//
//  Secrets.xcconfig
//  P09_01_Xcode
//
//  Created by charlesCalvignac on 11/07/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_Key_Weather = 01a551138c4f64c9b8b434bd7fb189db
API_Key_Change = 8663c04304d05e8fdf3fcf4ba739e09b
API_Key_Translate = 218cbfe4-65de-21d9-1cea-b987c94501c4:fx
